body {
    margin: 0;
    font-family: 'microsoft yahei', Arial, sans-serif;
}

/* 登陆页 */
#Login {
    background-color: #4696e5;
    color: #d0e4f8;
    background-image: url("../img/overlay.png"), url("../img/pattern-size1.svg");
    background-position: top left, center center;
    background-attachment: fixed, fixed;
    background-size: auto, cover;
    height: 100vh;
    min-height: 550px;
    position: relative;
	vertical-align:top;
}
#show,#Login .image,#WhereForm{
	position: absolute;
}
#Login .image{
	left:20%;
	top: 20%;
}
#show {
	left: 40%;
	top: 20%;
}
#WhereForm{
	top:20%;
	right:0;
}

#Login .image {
    border-radius: 0;
    border: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
    /*margin: 0 5% 5% 15%;*/
}

#Login .image.phone {
    box-shadow: none;
}

#Login .image.phone .inner, #header .image.phone:before, #header .image.phone:after {
    border-color: rgba(255, 255, 255, 0.25);
}

#Login .image.phone .inner:before {
    background: rgba(255, 255, 255, 0.25);
}

#Login .image.phone .inner:after {
    border-color: rgba(255, 255, 255, 0.25);
}

.image.phone {
    box-shadow: none;
    border-radius: 0;
    width: 15%;
	min-width : 200px;
}

.image.phone img {
    border-radius: 0;
    display: block;
    position: relative;
    width: 100%;
}

.image.phone .inner, .image.phone:before, .image.phone:after {
    display: block;
    border: solid 2px rgba(255, 255, 255, 0.25);
}

.image.phone .inner {
    position: relative;
}

.image.phone .inner:before, .image.phone .inner:after {
    content: '';
    position: absolute;
    left: 50%;
}

.image.phone .inner:before {
    top: -1.375em;
    margin-left: -1em;
    width: 2em;
    height: 0.25em;
    border-radius: 0.5em;
    background: rgba(255, 255, 255, 0.25);
}

.image.phone .inner:after {
    bottom: -2.75em;
    margin-left: -1em;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    border: solid 2px rgba(255, 255, 255, 0.25);
}

.image.phone:before, .image.phone:after {
    content: '';
}

.image.phone:before {
    height: 2.5em;
    border-radius: 1em 1em 0 0;
    border-bottom: 0;
    display: block;
}

.image.phone .inner:before {
    background: #e6e6e6;
}

.image.phone {
    box-shadow: none;
    display: block;
    border: solid 2px rgba(255, 255, 255, 0.25);
}
.image.phone .inner:after {
    border-color: #e6e6e6;
}

.image.phone:after {
    height: 3.5em;
    border-radius: 0 0 1em 1em;
    border-top: 0;
    display: block;
}

.image {
    box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #e6e6e6;
}
.loginpanel {
    width: 300px;
    border-radius: 0.5rem;
    margin:0 10% 0 0;
    background-color: #555;
    padding: 20px;
}

input.form-control {
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: #ECF4F4;
    border-radius: 2px;
    border: none;
    color: #333333;
}

h2 {
    margin-bottom: 20px;
    font-weight: normal;
    color: #EFEFEF;
}

.btn {
    border-radius: 2px;
    padding: 10px;
}

.btn span {
    font-size: 27px;
    color: white;
}
.buttonwrapper .btn{
    width: 48%;
}

/*表单*/
form .form-group{
    position: relative;
}
form .form-control{
    border-radius: 6px;
    display: inline-block;
}
form .form-control[disabled],form .form-control[readonly],form fieldset[disabled]{
    background-color: #FFF;
}
form{
    margin: 0 auto;
    position: relative;
}
form .icon{
    cursor: default;
    position: absolute;
    color: rgba(128,128,128,1);
    opacity: .5;
    top: 0;
    right: 0;
    margin: 0;
    width: 2em;
    height: 100%;
    text-align: center;
    border-radius: 0 .3125em .3125em 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
    right: auto;
    left: 1px;
    border-radius: .3125em 0 0 .3125em;
    font-size: 1.8em;
    line-height: 47px;
}
form input.error~.icon{
    color: #D95C5C;
}
form input.error::-webkit-input-placeholder
{
    color: #E9D2D5;
}
form input.error::-moz-placeholder{
    color: #E9D2D5;
}
form input.error:-ms-input-placeholder{
    color: #E9D2D5;
}
form input:focus~.icon {
    opacity: 1;
}
form .form-left,form .form-right{
    width: 72%;
}
.form-left{
    float: left;
}
form .form-right{
    float: right;
    width: 24%;
    vertical-align: middle;
}
form input[type=text],form input[type=password]{
    height: 46px;
    font-size: 14px;
    text-indent: 2.6em;
    /*line-height: 46px;*/
    background-color: rgba(256,256,256,.9);
    padding: 0 12px;
    line-height: 46px\9;
}
form input[type=date]:focus, input[type=email]:focus, input[type=number]:focus,input[type=password]:focus, input[type=tel]:focus, input[type=text]:focus,input[type=url]:focus,textarea:focus {
    color: rgba(0,0,0,.85);
    border-color: rgba(128,128,128,1);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: .3em 0 0 0 rgba(128,128,128,1)inset;
    box-shadow: .3em 0 0 0 rgba(128,128,128,1)inset;
}
form input[type=date]:focus, input[type=email]:focus, input[type=number]:focus,input[type=password].error:focus, input[type=tel]:focus, input[type=text].error:focus,input[type=url]:focus {
    color: rgba(0,0,0,.85);
    border-color: rgba(207,64,78,1);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: .3em 0 0 0 rgba(207,64,78,1)inset;
    box-shadow: .3em 0 0 0 rgba(207,64,78,1)inset;
}

/* 动画 */
body.is-loading #Login #show {
    -moz-transform: translateX(2em);
    -webkit-transform: translateX(2em);
    -ms-transform: translateX(2em);
    transform: translateX(2em);
    opacity: 0;
}

body.is-loading #Login .image {
    -moz-transform: translateY(4em);
    -webkit-transform: translateY(4em);
    -ms-transform: translateY(4em);
    transform: translateY(4em);
    opacity: 0;
}

body.is-loading #Login .image img {
    opacity: 0;
}

body.is-loading #Login #WhereForm {
    -moz-transform: translateX(4em);
    -webkit-transform: translateX(4em);
    -ms-transform: translateX(4em);
    transform: translateX(4em);
    opacity: 0;
}

#Login #show{
    -moz-transition: opacity 0.5s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 0.5s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 0.5s ease, -ms-transform 1s ease;
    transition: opacity 0.5s ease, transform 1s ease;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

#Login .image{
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

#Login .image img{
    -moz-transition: opacity 0.75s ease;
    -webkit-transition: opacity 0.75s ease;
    -ms-transition: opacity 0.75s ease;
    transition: opacity 0.75s ease;
    -moz-transition-delay: 0.75s;
    -webkit-transition-delay: 0.75s;
    -ms-transition-delay: 0.75s;
    transition-delay: 0.75s;
    opacity: 1;
}

#Login #WhereForm{
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -moz-transition-delay: 1.5s;
    -webkit-transition-delay: 1.5s;
    -ms-transition-delay: 1.5s;
    transition-delay: 1.5s;
    opacity: 1;
}